<section class="spell-list-category" id="cat-{{this.categoryId}}">
    <details>
        <summary class="category-tooltip" 
                 data-name="{{this.categoryName}}" 
                 data-description="{{this.categoryDescription}}">
            <strong>{{this.categoryName}}</strong>
            <span class="count-tag">{{this.spells.length}}</span>
        </summary>
        
        {{#if this.categoryDescription}}
            <p class="category-description"><i>{{this.categoryDescription}}</i></p>
        {{/if}}

        <div class="category-content">
            {{#each this.spells}}
                {{> spell_entry this}}
            {{/each}}
        </div>
    </details>
</section>

{{!-- Insert a mid-page header after the 6th category --}}
{{#if (eq @index 6)}}
    <h2 class="mid-page-header">Subjective Categorizations</h2>
{{/if}}