<html>
<h1>Industry Page</h1><br>
<form id="inventstructure" action="/eve2/inventstructure/" method="post">
    
    <h2>Invent Item </h2>
    <label>Item Name </label><input type="text" name="name" value="Name"><br>
    <label>Packaged Volume </label><input type="number" step="0.01" min="0" name="packaged" value="0"><br>
    <label>Unpackaged Volume </label><input type="number" step="0.01" min="0" name="unpackaged" value="0"><br>
    <label>Item Type </label><select name="type"> 
        <option>None</option>
        {{#each item_structure_types}}
            <option value="{{type}}">{{type}}</option>
        {{/each}}
    </select><br>
    <label style = "color:red">(Reviewer - This is an insert)</label><input type="submit" value="Invent">
</form>
<br>


<form id="designuse" action="/eve2/designitemuse/" method="post">
    <h2>Design a use for an item</h2> <br>
    <label>Based on item </label><select name="fromitemname">
        <option>None</option>
    {{#each useless_item_structures}}
        <option value="{{id}}">{{name}}, {{type}}</option>
    {{/each}}

    </select><br>
    <label>Capacity </label><input type="number" step="0.01" min="0" name="capacity" value="0"><br>
    <label>Container Type </label><select name="type"> 
        <option>None</option>
        {{#each item_use_scales}}
            <option value="{{type}}">{{type}}</option>
        {{/each}}
    </select><br>

    <label style = "color:red">(Reviewer - This is an insert)</label><input type="submit" value="Design">
</form><br>


<form id="choose-item" action="/item/" method="get">
<h2>Get an inventory item</h2>
    <label>Item </label><select name="id"> 
        <option>None</option>
        {{#each item_structure_list}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
<label style = "color:red">(Reviewer - This is an insert)</label><button onclick="selectitem({{id}})">Get Object</button><br>
</form>

</html>