<html>
<h1>Industry Page</h1><br>

<div>
    <label>Current Items</label>
    <select name="CurrentItems">
    {{#each item_structure_list}}
    <option>{{name}}, type: {{type}}, vol: {{vol_packed}}{{#compare vol_packed vol_unpacked operator="!="}}, unpacked: {{vol_unpacked}}{{/compare}}</option>
    {{/each}}
    </select>
</div>
<div>
    <label>Current Item Uses</label>
    <select name="CurrentUses">
    {{#each itemUse_list_orderbyqq}}
    <option>{{name}}, capacity: {{capacity}}m3, scale: {{scale}}</option>
    {{/each}}
    </select>
</div><br>

<form id="inventstructure" action="/eve2/industry/" method="post">
    
    <h2>Invent Item </h2>
    <label>Item Name </label><input type="text" name="name" value="Name"><br>
    <label>Packaged Volume </label><input type="number" step="0.01" min="0" name="packaged" value="0"><br>
    <label>Unpackaged Volume </label><input type="number" step="0.01" min="0" name="unpackaged" value="0"><br>
    <label>Item Structure Type </label><select name="type"> 
        <option>None</option>
        {{#each item_structure_types}}
            <option value="{{type}}">{{type}}</option>
        {{/each}}
    </select><br>
    <label style = "color:red">(Reviewer - This is an insert to the item structures entity.)</label>
    <input type="submit" value="Invent" name="invent">
</form>
<br>

<form id="designuse" action="/eve2/industry/" method="post">
    <h2>Design a use for an item</h2> <br>
    <label>Based on item </label><select name="fromitemname">
        <option>None</option>
    {{#each useless_item_structures}}
        <option value="{{id}}">{{name}} {{#compare type "Container"}}(Container Structure){{/compare}}</option>
    {{/each}}

    </select><br>
    <label>Capacity </label><input type="number" step="0.01" min="0" name="capacity" value="0"><br>
    <label>Scale of use </label><select name="scale"> 
        <option>None</option>
        {{#each item_use_scales}}
            <option value="{{scale}}">{{scale}}</option>
        {{/each}}
    </select><p style ="color:red" class="inlineWithSelect"> (Bay scale doesn't do anything yet.)</p><br>

    <label style = "color:red">(Reviewer - This is an insert to the item uses entity.)</label>
    <input type="submit" value="Design" name="design">
</form><br>

<form id="choose-item" action="/eve2/industry/" method="post">
<h2>Get an inventory item</h2>
    <label>Item </label><select name="id"> 
        <option>None</option>
        {{#each item_structure_list}}
            <option value="{{id}}" {{#if scale}}class="bold-option"{{/if}}>
                {{name}} ({{#if scale}}{{scale}}{{else}}{{type}}{{/if}})
            </option>
        {{/each}}
    </select><br>
    <label>Quantity</label><input type="number" min="0" name="quantity" value="1"><br>
<label style = "color:red">(Reviewer - This is an insert to the Objects entity.)</label>
<input type="submit" value="Produce" name="produce">
</form>
<br>
{{#if sessionAlert}}<h3>Alert: {{sessionAlert}}</h3>{{/if}}

</html>