<html>
<div class="page">
    
<h1>Out In Space</h1>
<br>

{{!-- maybe register a helper out of this, since it occurs in 2 places? --}}
<table class="ShipView">
    <thead>
        <th class="ShipViewLabels">{{session.playerName}}'s Ship</th>
        <th class="ShipViewData">{{session.shipName}}</th>
    </thead>
    <tbody>
        <tr class="top" style="border: 2px black double;">
            <td>Ship Location:</td>
            <td>{{session.locationName}} System, Security Status: Unknown</td>
{{!-- Need context to contain selection of ship contents and capacity data. --}}
            {{!-- {{#each cargoSpaceList}} --}}
                {{!-- {{#if CSid == session.shipID}} --}}
                {{!-- <td>Ship Capacity: {{capacity}}</td> --}}
                {{!-- {{/if}} --}}
            {{!-- {{/each}} --}}
        {{#each this.onboardCargoSpaces}}
        {{!-- put a table in the 2nd cell of the 1st row of each cargo space. --}} 
            <tr class="cargoSpaceRow">
                <td class="CSR-labelColumn">
                    <div><label>{{scale}}: {{name}}</label></div>
                    <label class="CSR-label">Contents</label>
                </td>
                <td class="CSR-table-cell">
                    <table class="CSR-table">
                        <thead>
                            <th>
                                <label>Object Name</label>
                            </th>
                            <th>
                                <label>Volume</label>
                            </th>
                            <th>
                                <label>Type/Scale</label>
                            </th>
                            <th>
                                <label>Quantity</label>
                            </th>
                            <th>
                                <label>Packaged</label>
                            </th>
                            <th>
                                <label>Operations</label>
                            </th>
                        </thead>
                        <tbody>
                            {{#each ../onboardObjects}}
                                {{#compare inside_CSid ../CSid}}
                                <tr>
                                    <td><!-- object Name -->
                                        {{#if CSName}}
                                        {{CSName}}
                                        {{else}}
                                        {{structureName}}
                                        {{/if}}
                                    </td>
                                    <td><!-- Volume -->
                                        
                                    </td>
                                    <td><!-- Type/Scale -->

                                    </td>
                                    <td><!-- Quantity -->

                                    </td>
                                    <td><!-- Packaged -->

                                    </td>
                                    <td><!-- Operations-->

                                    </td>
                                </tr>
                                {{/compare}}
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/each}}{{!-- end onboardCargoSpaces --}}
    </tbody>
</table>

<!-- may replace this later with jettison functionality. -->
<form id="choose-item" action="/eve2/out_in_space/" method="post">
    <label>Item:</label> <select name="objectID"> 
        <option>None</option>
        {{#each item}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
<label></label>
<input type="submit" value="Jettison" name="jettison">
</form>
<br>

<form id="choose-station" action="/eve2/out_in_space/" method="post">
 <label>Station</label> <select name="stationCSid"> 
        <option>None</option>
        {{#each stations_in_space}}
        <option value="{{stationID}}">{{stationName}}</option>
        {{/each}}
    </select><br>
<label></label><input type="submit" value="Dock" name="dock"><br>
</form>
<br/>

<form id="choose-location" action="/eve2/out_in_space/" method="post">
    <label>Location:</label> <select name="locationID"> 
        <option>None</option>
        {{#each linked_locations}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
<label></label><input type="submit" value="Travel" name="moveLocation">
</form>
<br/>

<form id="annihilate-wormhole" action="/eve2/out_in_space/" method="post">
    <label>Wormhole to:</label> <select name="wormhole_id">
        <option>None></option>
        {{#each linked_locations}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
        </select>
    </select><br>
    <label style = "color:red">(Reviewer - This is a delete of two M-to-N relationship table records)</label>
    <input type="submit" value="Annihilate" name="annihilate"><br>
</form>
<br>

 <!-- create post handler for this -->
<h3>Chart A Wormhole</h3>
<form id="wormhole" action="/eve2/out_in_space/" method="post">
    <label>Wormhole Name:</label> <input type="text" name="name" value="Name"><br>
    <label>Wormhole Security Status:</label> 
    <input type="number" step="0.1" min="-10.0" max = "10.0" name="Security" value="-10.0 - 10.0"><br>

    <label style = "color:red">(Reviewer - This is an entity insert and two M-to-N inserts)</label>
    <input type="submit" value="Chart" name="chartWormhole">
</form>
</div> <!-- end page -->

<div id="sidebar">

    <div>
    <h3>{{session.locationName}}</h3>
    </div>


<div class="sidebarFormDiv">
    <form class="sidebarForm" id="choose-station" action="/eve2/out_in_space/" method="post">
    <label>Dock at Station</label> <select name="stationCSid"> 
            <option>None</option>
            {{#each stations_in_space}}
            <option value="{{stationID}}">{{stationName}}</option>
            {{/each}}
        </select><br>
    <input type="submit" value="Dock" name="dock"><br>
    </form>
</div>

<div class="sidebarFormDiv">

    <form class="sidebarForm" id="choose-location" action="/eve2/out_in_space/" method="post">
        <label>Location</label> <select name="locationID"> 
            <option>None</option>
            {{#each linked_locations}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select><br>
    <input type="submit" value="Travel" name="moveLocation">
    </form>
</div>

</div>

</html>
