<html>
<h1>Out In Space</h1>
<br>

<!-- create post handler for this -->
<form id="choose-station" action="/out_in_space/dock" method="post">
 <label>Station:</label> <select name="id"> 
        <option>None</option>
        {{#each station}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
<label></label><input type="submit" value="Dock"><br>
</form>
<br/>

<!-- create post handler for this -->
<form id="choose-location" action="/out_in_space/moveLocation" method="post">
    <label>Location:</label> <select name="id"> 
        <option>None</option>
        {{#each location}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
<label></label><input type="submit" value="Travel">
</form>
<br/>

<!-- create post handler for this -->
<form id="choose-item" action="/out_in_space/jettison" method="post">
    <label>Item:</label> <select name="id"> 
        <option>None</option>
        {{#each item}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
<label></label>
<input type="submit" value="Jettison">
</form>

<!-- create post handler for this -->
<form id="annihilate-wormhole" action="/out_in_space/annihilate" method="post">
    <label>Wormhole to:</label> <select name="wormhole_id">
        <option>None></option>
        {{#each wormhole}}
        <option value="{{id}}">{{linkedName}}</option>
        {{/each}}
        </select>
    </select><br>

    <label style = "color:red">(Reviewer - This is a delete of two M-to-N relationship table records)</label><input type="submit" value="Annihilate"><br>
</form>

 <!-- create post handler for this -->
<h3>Chart A Wormhole</h3>
<form id="wormhole" action="/eve2/out_in_space/wormhole/" method="post">

<label>Wormhole Name:</label> <input type="text" name="name" value="Name"><br>
<label>Wormhole Security Status:</label> 
<input type="number" step="0.1" min="-10.0" max = "10.0" name="Security" value="-10.0 - 10.0"><br>

<label style = "color:red">(Reviewer - This is an entity insert and two M-to-N inserts)</label>
<input type="submit" value="Chart">
</form>
</html>