<html>
<h3>Out In Space</h3>
<br>

<form id="choose-station" action="/container" method="get">
    Station: <select name="id"> 
        {{#each station}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>
<button onclick="selectContainer({{id}})">Dock</button><br>
<br/>


<form id="choose-location" action="/location" method="get">
    Location: <select name="id"> 
        {{#each location}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>
<button onclick="selectLocation({{id}})">Move</button><br>

<br/>

<form id="choose-item" action="/item" method="get">
    Item: <select name="id"> 
        {{#each item}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>

<button onclick="deleteItem({{id}})">Jettison</button><br>
 

<h3>Chart A Wormhole</h3>
<form id="wormhole" action="/location" method="get">
Wormhole Name: <input type="text" name="name" value="System Name"><br>
Wormhole Security Status: <input type="number" step="0.1" min="-10.0" max="10.0" name="Security" value="10.0"><br>

    <input type="submit" value="Invent">
</form>
</html>