<html>

<h1>Player Page</h1><br>
<h3>Add new player:</h3>
<form id="newplayer" action="/eve2/newplayer/" method="post">
    <label>Name:</label> <input type="text" name="name"><br>
    <label style = "color:red">(Reviewer - This is an insert)</label><input type="submit" value="Submit">
 </form>
<br/>
<h3>Existing player:</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>Name</th> 
        <th>Piloting Container</th>  
        <th>Location of Pilot</th> 
    </thead> 
    <tbody> 
        {{#each player}}
        <tr> 
            <td>{{id}}</td> 
            <td>{{name}}</td> 
            <td>{{piloting_CS_id}}</td>
            <td>{{location}}</td>
        </tr> 
        {{/each}}
    </tbody> 
</table> 
<br/>
<form id="choose-player" action="/player/" method="get">
    <label>Player:</label> <select name="id"> 
        <option>None</option>
        {{#each player}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>
    <label></label><button onclick="selectPlayer({{id}})">Use</button><br>
    <label></label><button onclick="deletePlayer({{id}})">Delete</button>
</html>
