<html>

<h1>Player Page</h1><br>
<h3>Add new player:</h3>
<form id="newplayer" action="/eve2/player/" method="post">
    <label>Name:</label> <input type="text" name="name"><br>
    <label style = "color:red">(Reviewer - This is an insert)</label>
    <input type="submit" value="Submit" name="AddPlayer">
 </form>
<br/>
<h3>Existing player:</h3>
<table>
    <thead> 
        <th>Name</th>
        <th>Piloting</th> 
        <th>Location</th>
    </thead> 
    <tbody> 
        {{#each all_players}}
        <tr> 
            <td>{{playerName}}</td> 
            <td>{{shipName}}</td>
            <td>{{locationName}}</td>
        </tr> 
        {{/each}}
    </tbody> 
</table> 
<br/>

<label style = "color:red">(Reviewer - There is not actually any security implemented here. Anyone can access your player after it's made.)</label>
<!-- at least make sessions functional for step 5 draft -->
<form id="choose-player" action="/eve2/player/" method="post">
    <label>Player:</label> <select name="playerID">
        <option>None</option>
        {{#each all_players}}
        <option value="{{playerID}}">{{playerName}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Use player" name="UsePlayer"><br>
    <label></label><label></label>
    <input type="submit" value="Delete player" name="DeletePlayer">
</form>

</html>
