<html>
<div class="page">
<h1>Player Page</h1><br>
<h3>Add new player:</h3>
<form id="newplayer" action="/eve2/player/" method="post">
    <label>Name:</label> <input type="text" name="name"><br>
    <label style = "color:red">(Reviewer - This is an insert)</label>
    <input type="submit" value="Submit" name="AddPlayer">
 </form>
<br/>
<h3>Existing player:</h3>
<table class="playerTable">
    <thead>
        <th class="playerTableTH">Player</th>
        <th>Piloting</th>
        <th>Location</th>
    </thead>
    <tbody>
        {{!-- {{> player_row all_players}} --}}
        {{!-- This is a partial, with a formAction passed in. In Express Handlebars, the filename of the partial is player_row.hbs --}}
    {{#each all_players}}
        <tr>
            <td style="width:25%">
                <form action="/eve2/player/" method="post" >
                    <label>{{playerName}}</label>
                    <input type="hidden" value={{playerID}} name="playerID">
                    <input type="submit" class="midTableButton" value="Use player" name="UsePlayer" class="inlineButton">
                    <input type="submit" id="badButton" class="midTableButton" value="Delete player" name="DeletePlayer" class="inlineButton">
                    
                </form>
            </td> 
            <td>{{shipName}}</td>
            <td>{{locationName}}{{#if stationName}}, in {{stationName}}{{/if}}</td>
        </tr> 
        {{/each}}
    </tbody> 
</table> 
<br/>

<label style = "color:red">(Reviewer - There is not actually any security implemented here. Anyone can access your player after it's made.)</label>
</div> <!-- end page -->

<div id="sidebar">

</div>

</html>
