<html>

<h1>Player Page</h1><br>
<h3>Add new player:</h3>
<form id="newplayer" action="/eve2/player/" method="post">
    <label>Name:</label> <input type="text" name="name"><br>
    <label style = "color:red">(Reviewer - This is an insert)</label>
    <input type="submit" value="Submit" name="AddPlayer">
 </form>
<br/>
<h3>Existing player:</h3>
<table>
    <thead> 
        <th>Name</th>
        <th>Piloting</th> 
        <th>Location</th>
    </thead> 
    <tbody> 
        {{#each all_players}}
        <tr> 
            <td>
                <form>
                    <p>{{playerName}}</p>
                    <input type="hidden" value={{playerID}} name="playerID">
                    <input type="submit" value="Use player" name="UsePlayer" class="inlineButton">
                    <input type="submit" value="Delete player" name="DeletePlayer" class="inlineButton">
                </form>
            </td> 
            <td>{{shipName}}</td>
            <td>{{locationName}}{{#if stationName}}, in {{stationName}}{{/if}}</td>
        </tr> 
        {{/each}}
    </tbody> 
</table> 
<br/>

<label style = "color:red">(Reviewer - There is not actually any security implemented here. Anyone can access your player after it's made.)</label>

</html>
