<html>

<h1>Space Station Page</h1><br>
<a href="/eve2/out_in_space">undock</a>
<br/>

<h3>Ships and Containers:</h3>
<table>
    <thead> 
        <th><a href="/eve2/out_in_space">ID</a></th>  
        <th>Pilotable</th> 
        <th><a href="/eve2/out_in_space">Capacity</a></th>   
        <th><a href="/eve2/out_in_space">Type</a></th> 
        <th><a href="/eve2/out_in_space">Name</a></th> 
        <th>Move Item</th>
        <th>Give Item</th>
        <th>Delete Item</th>
        <th>Repackage Item</th>

    </thead> 
    <tbody> 
        {{#each container}}
        <tr> 
            <td>{{id}}</td> 
            <td>{{Pilotable}}</td> 
            <td>{{capacity}}</td>
            <td>{{type}}</td>
            <td>
            <form id="move-item" action="/item" method="get">
    <select name="id"> 
        {{#each item}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    </form>
            </td>

            <td><button onclick="deleteItem({{id}})">Give</button></td>
            <td><button onclick="deleteItem({{id}})">Delete</button></td>
            <td><button onclick="deleteItem({{id}})">Repackage</button></td>

    <table>
    <thead> 
        <th>Inside Item</th> 
    </thead> 
    <tbody> 
        <tr> 
            <td>{{Item.name}}</td> 
        </tr>
    </tbody>    
    </table>

        </tr> 
        {{/each}}
    </tbody> 
</table> 
<br/>
<br/>

<form id="choose-ship" action="/container" method="get">
    <label>Change Piloting ship:</label> <select name="id"> 
        <option>None</option>
        {{#each item}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
</select>

    <label></label><button onclick="changeContainer({{id}})">Change</button><br>
</form>


<form id="sort-item" action="/item" method="get">
   <label>Get items of type:</label> <select name="id"> 
       <option>None</option>
        {{#each item}}
        <option value="id">type</option>
        {{/each}}
    </select>

    <label></label><button onclick="selectType({{id}})">Select</button><br>
</form>

    <form id="sort-container" action="/container" method="get">
   <label>Get containers of type:</label> <select name="id"> 
       <option>None</option>
        {{#each item}}
        <option value="id">type</option>
        {{/each}}

</select>

    <label></label><button onclick="selectType({{id}})">Select</button><br>
</form>

</html>

