<html>
<div class="page">
<h1>Space Station Page</h1><br>

<a href="/eve2/industry/">Industry</a><br>
<a href="/eve2/out_in_space/undock">undock</a><br>
<br/>

<h2 style="color: red">Please don't click anything below here. You will make the puppies cry.</h2>

<form id="choose-ship" action="/eve2/space_station/" method="post">
    <label>Change Piloting ship:</label> <select name="changeToShipID"> 
        <option>None</option>
        {{#each item}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
</select>

    <label></label><input type="submit" name="changeShip" value='Change'><br>
</form><br>

<br>
<h3>Ships and Containers:</h3>
<table>
    <thead> 
        <th><a href="/eve2/out_in_space/Name">Name</a></th> 
        <th><a href="/eve2/out_in_space/Type">Type</a></th> 
        <th><a href="/eve2/out_in_space/Quantity">Quantity</a></th>   
        <th><a href="/eve2/out_in_space/Volume">Volume</a></th>   
        <th><a href="/eve2/out_in_space/Capacity">Capacity</a></th>   
        <th>Pilotable</th> 
        <th>Packaged?</th>
        <th>Move Item</th>
        <th>Give Item</th>
        <th>Delete Item</th>

    </thead> 
    <tbody> 
        {{#each CS}}
        <tr> 
            <td>{{ObjectName}}</td>
            <td>{{Pilotable}}</td>
            <td>{{capacity}}</td>
            <td>{{type}}</td>
            <td>
            <form id="move-item-{{objectID}}" action="/eve2/space_station" method="post">
                <select name="id"> 
                    {{#each item}}
                    <option value="{{CSid}}">{{CSname}}</option>
                    {{/each}}
                </select><br>
                <input type="submit" name="moveObject" value='Move'>
            </form>
            </td>
            <td>
                <form id="give-item-{{id}}" action="eve2/space_station" method="post">
                    <select name="playerToGiveObjectTo">
                        <option>None</option>
                        {{#each players}}
                        <option value="{{playerID}}">{{playerName}}</option>
                        {{/each}}
                    </select>
                    <input type="submit" name="giveObjectToPlayer">
                </form>
            </td>
            <td><input type="submit" name="deleteObject" value="Delete"</td>
            <td><input type="submit" name="repackageObject" value="Repackage"></td>
            <td>
                <!-- sub-table... -->
                <table>
                    <thead> 
                        <th>Inside Item</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{Item.name}}</td>
                        </tr>
                    </tbody>   
                </table>
            </td>
        </tr> 
        {{/each}}
    </tbody> 
</table> 
<br/>
<br/>

<form id="sort-item" action="/eve2/space_station/" method="post">
   <label>Filter by structures of type:</label>
        <select name="id"> 
            <option>None</option>
            {{#each itemStructure}}
            <option value="id">type</option>
            {{/each}}
        </select>
    <label></label>
    <input type="submit" name="select_typeFilter" value="Filter objects by type"><br>
</form>
<form id="sort-container" action="/eve2/space_station/" method="post">
    <label>Filter by cargo spaces of scale:</label>
    <select name="id"> 
        <option>None</option>
        {{#each itemUse}}
        <option value="id">{{scale}}</option>
        {{/each}}

    </select>

    <label></label>
    <input type="submit" name="select_scaleFilter" value="Filter cargo spaces by scale">
</form>
<br>
</div> <!-- end page -->
<div id="sidebar">

</div>

</html>